name: Firmware

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 9 * * 1'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - run: rustup component add rust-src
    - run: rustup target add riscv32imc-unknown-none-elf
    - run: RUSTC_BOOTSTRAP=1 cargo build --release
      working-directory: firmware/

  tests:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - run: cargo test -p d3xs-firmware

  clippy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - run: rustup component add rust-src
    - run: rustup target add riscv32imc-unknown-none-elf
    - run: RUSTC_BOOTSTRAP=1 cargo clippy
      working-directory: firmware/
